@charset "UTF-8";

:root {
    --bg-color: #f8f9fa;
    /* Um branco levemente cinza, agride menos os olhos */
    --text-color: #212529;
    /* preto grafite, melhor que o preto puro */
    --button-bg: rgb(255, 50, 50);
    --button-hover: rgb(255, 64, 64);
    /*Área de variáveis para simplificar o uso das cores*/
}

body.dark-theme {
    --bg-color: #121212;
    --text-color: #e0e0e0;
}


body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    margin: 0;
}

#btn {
    background-color: var(--button-bg);
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 9px 0px 0px rgb(170, 59, 59);
    margin: 10px;
}

#btn:hover {
    background-color: var(--button-hover);
}

#btn:active {
    transform: translateY(7px);
    box-shadow: 0px 3px 0px 0px rgb(136, 48, 48);
    /* Efeito de botão sendo pressionado simples */
}


#outside {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 200px;
}

#stheme {
    margin-top: 10px;
    border-radius: 5px;
    padding: 5px;
}

#stheme:hover {
    background: #4f4f4f;
    background: linear-gradient(158deg, rgba(79, 79, 79, 0.74) 0%, rgba(255, 255, 255, 0.85) 50%, rgba(255, 255, 255, 1) 100%);
    transform: translateY(1px);
    /*Efeito gradiente no background + animação simples de deslocamento ao colocar o mouse em cima do botão*/
}